<body>
  <div class="main-container">
    <%- include('partials/header') -%>

    <div class="bg-dark main-content">

      <div class="search">
        <input type="text" placeholder="Search">
        <i class="bi bi-search"></i>
      </div>

      <div class="categories border border-primary">
        <div class="category">
          category 
        </div> 
        <div class="category">
          category 
        </div>  
        <div class="category">
          category 
        </div>  
        <div class="category">
          category 
        </div>  
        <div class="category">
          category 
        </div>  
        <div class="category">
          category 
        </div>   
      </div>

      <div class="items border border-success">
        <div class="item">
          item 
        </div> 
        <div class="item">
          item 
        </div>  
        <div class="item">
          item 
        </div>  
        <div class="item">
          item 
        </div>  
        <div class="item">
          item 
        </div>  
        <div class="item">
          item 
        </div>
        <div class="item">
          item 
        </div>  
        <div class="item">
          item 
        </div>     
      </div>

    </div>

    <div class="bg-dark order-content">

      <div class="top-section">
        <div class="table">
          <h1>Table #</h1>
          <span>Server</span>
        </div>
        <div class="edit-button">
          <span>Edit</span>
        </div>
      </div>

      <div class="item-checkout">
        
          <div class="price">
            <span>Q</span>
            <span>Item</span>
            <span>price</span> 
          </div> 
          <div class="price">
            <span>Q</span>
            <span>Item</span>
            <span>price</span> 
          </div>  
          <div class="price">
            <span>Q</span>
            <span>Item</span>
            <span>price</span> 
          </div>
          <div class="price">
            <span>Q</span>
            <span>Item</span>
            <span>price</span> 
          </div>  
          <div class="price">
            <span>Q</span>
            <span>Item</span>
            <span>price</span> 
          </div>    
        </div>
      
        <div class="payment">

          <div class="top">
            <div class="subtotal">
              <span>Subtotal:</span>
              <span>PRICE</span>
            </div>
            <div class="tax">
              <span>Tax: 8%</span>
              <span>PRICE</span>
            </div>
            <div class="total-price">
              <span>Total:</span>
              <span>PRICE</span>
            </div>
          </div>

          <div class="bottom">
            <div class="payment-method">
              <span>Payment Method</span>
            </div>
            <div class="cash">
              <span>PHOTO</span>
              <span>Cash</span>
            </div>
            <div class="Debit">
              <span>PHOTO</span>
              <span>Debit Card</span>
            </div>
            <div class="E-Wallet">
              <span>PHOTO</span>
              <span>E-Wallet</span>
            </div>
          </div>

        </div>
    </div>
  </div>
</body>