<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/css-reset-and-normalize/css/reset-and-normalize.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  
  <title>KingPOS</title>
</head>
<body>
  <div class="root-container">
    <section class="nav-container">
      <%- include('partials/header') -%>
    </section>

    <div class="dashboard--container">
      <section class="dashboard">
        <h1>Dashboard</h1>
        <p>Overview of sales, purchases and products</p>
      </section>
      <section class="orders--container">
        <div class="orders--card orders">
          <p class="orders--title">Orders</p>
          <p class="orders--quantity">7</p>
          <p class="orders--percent">0 %</p>
        </div>
        <div class="orders--card average--orders">
          <p class="orders--title">Avg Orders Value</p>
          <p class="orders--quantity">7</p>
          <p class="orders--percent">0 %</p>
        </div>
        <div class="orders--card items--sold">
          <p class="orders--title">Items Sold</p>
          <p class="orders--quantity">7</p>
          <p class="orders--percent">0 %</p>
        </div>
        <div class="orders--card items--sold">
          <p class="orders--title">Total Items</p>
          <p class="orders--quantity">7</p>
          <p class="orders--percent">0 %</p>
        </div>
      </section>
      <section class="sales--chart">
        <div>
          <canvas id="myChart"></canvas>
        </div>
        <div>          
      </section>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
      <div class="orders--card items--sold">
        <p class="orders--title">Total Items</p>
        <p class="orders--quantity">7</p>
        <p class="orders--percent">0 %</p>
      </div>
    </div>
  </div>
</body>
</html>
<script >
const ctx = document.getElementById('myChart');

new Chart(ctx, {
  type: 'line',
  data: {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
      label: '# of Votes',
      data: [12, 19, 3, 5, 2, 3],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    },
    responsive: false
  }
});
</script>